# You should have your own version of this file in the root of the project, named as `.env`
NODE_ENV="development"

# Some secret we use when setting our own JWT tokens for validation purposes. Read more in: https://jwt.io/introduction/
JWT_SECRET="some_password_we_define"

# The port where the server will run. 8080 is a good number, but feel free to use some other if you feel like it
PORT=8080

# The protocol + host + port if needed. For the local environment it should be http://localhost:<PORT>
HOST="http://localhost:8080"

# The connection URL for postgres
DATABASE_URL= 'postgres://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>'

# The directory in which the json data is located (pull from https://github.com/fatihi/fiveringsdb-data)
DATA_DIRECTORY = 'path/to/git/root/json/'

# The Auth0 Domain and Client ID to handle authentication (should be the same as in ./client/.env)
AUTH0_DOMAIN = 'xxx.eu.auth0.com"
AUTH0_CLIENT_ID = 'your_auth0_client_id'

# URL of Beta EmeraldDB to import packs from
BETA_URL = 'https://url.to.beta'

# Config for the Discord integration. It's a JSON with schema { clientId: string, botToken: string, isBotEnabled: boolean}
DISCORD_CONFIG = '{"clientId":"some_id","botToken":"some_token","isBotEnabled":false}'
