.startPage {
  text-align: center;
  padding: 8px 8px 16px 8px;
}

.header {
  margin-bottom: 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.releaseNotesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-auto-rows: 1fr;
}

@media (max-width: 768px) {
  .releaseNotesContainer {
    grid-template-columns: 1fr;
  }
}

.releaseNotes {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.releaseNotes ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}